@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <link rel="stylesheet" href="~/css/signup.css" asp-append-version="true" />
</head>
<div class="sign-up-background ">
    <div class="sign-up-wrapper">
        <div class="sign-up-info mx-auto col-10 col-md-8 col-lg-6">
            <label for="first-name" class="form-label">First Name</label>
            <input id="first-name" class="form-control"></input>
            <label for="last-name" class="form-label">Last Name</label>
            <input id="last-name" class="form-control"></input>
            <label for="email" class="form-label">Email</label>
            <input id="email" class="form-control"></input>
            <label for="password" class="form-label">Password</label>
            <input id="password" class="form-control"></input>
        </div>
        <div class="sign-up-btn d-flex mx-auto col-10 col-md-8 col-lg-6 pt-lg-4 mt-2 justify-content-end">
            <button id="btn-cancel" class="btn btn-outline-danger me-2">Cancel</button>
            <button id="btn-sign-up" class="btn btn-outline-primary">Sign up</button>
        </div>
    </div>
